@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

.footer {
  background-image: url(../assets/img/footerBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;
  padding-bottom: 100px;
  margin-top: -55px;
}

.download {
  display: flex;
  justify-content: start;
  text-transform: uppercase;
}

.footer .Judul {
  padding-top: 140px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #eeece8;
  padding-left: 24px;
}

.footer .Judul2 {
  padding-top: 140px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #f3c76f;
  padding-left: 10px;
}

.footer .Judul3 {
  padding-top: 140px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #eeece8;
  padding-left: 10px;
}

.ParagrafFooter p {
  display: flex;
  justify-content: start;
  padding-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #eeece8;
  padding-left: 24px;
}

.AvailableFooter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #eeece8;
  margin-top: 48px;
  margin-left: 40px;
}

.AvailableButton {
  display: flex;
  justify-content: start;
  text-decoration: none;
  align-items: center;
  margin-left: 22px;
}

.Menu {
  padding-top: 140px;
  margin-left: 100px;
}

.Menu .JudulMenu {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: #f3c76f;
}

.Menu .SubMenu {
  padding-top: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #ababab;
  text-align: left;
}

.Menu .SubMenu .teksMenu {
  text-decoration: none;
  color: #ababab;
}

.Sosmed {
  display: flex;
  align-items: center;
  text-align: left;
}

.Sosmed p {
  padding-left: 10px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .download .Judul,
  .download .Judul2,
  .download .Judul3 {
    font-size: 22px;
  }
  .download {
    margin-top: 30px;
  }

  .Menu {
    padding-top: 50px;
    margin-left: 35px;
  }
}
